/* general and nav bar */
body {
	font-family: Verdana, Geneva, sans-serif;
}
.container {
	max-width: 930px;
}
.navbar {
	min-height: 115px;
	margin-bottom: 0;
}
.navbar-nav {
	margin-top: 65px;
}
button.navbar-toggle {
	background: #e8e8e8;
	border: 1px solid #e0e0e0;
}
button.navbar-toggle span {
	background: #fff;
}
.nav>li>a {
	color: #000;
}
.nav>li>a:hover {
	text-decoration: none;
    background: none;
    color: #848484 !important;
}
.nav>li>a.special {
	color: #fff;
	background: #000;
	font-family: Arial;
	font-size: 11px;
	padding: 5px 15px;
	margin-top: 10px;
	border-radius: 3px;
	font-weight: bold;
}
/* slider */
.wide-slider {
	background: #000;
	width: 100%;
	height: 420px;
	background: #000;
	padding: 20px inherit;
}
.wide-slider .container {
	padding: 0;
}
.slider-site img {
	border: 5px solid #979797;
}
.slider-caption .row {
	padding-right: 15px;
}
.slider-date {
	color: #848484;
	font-size: 9px;
	margin-top: 30px;
}
.slider-votes {
	color: #000;
	background: #fff;
	border-radius: 2px;
	margin-top: 25px;
	padding: 5px;
	font-size: 14px;
}
.slider-title {
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
}
.slider-company, .slider-client{
	display: inline-block;
	color: #848484;
	font-size: 9px;
	margin-top: 10px;
}
.slider-company-name, .slider-client-name {
	display: inline-block;
	color: #fff;
	font-size: 11px;
}
.slider-description {
	font-size: 11px;
	color: #848484;
	margin-top: 20px;
	text-align: justify;
	min-height: 160px;
}
.slider-go {
	color: #fff;
	font-size: 9px;
}
.slider-go span.fa {
	color: #fff;
	font-size: 12px;
}
.slider-separator {
	width: 100%;
	border-bottom: 1px solid #848484;
	float: left;
	margin-top: 20px;
}
.carousel-nav {
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	position: absolute;
}
.carousel-nav:hover {
	color: #fff;
	text-decoration: none;
}
.carousel-nav span.fa {
	font-size: 12px;
}
.carousel-nav.prev {
	right: 215px;
	bottom: 5px;
}
.carousel-nav.next {
	right: 5px;
	bottom: 5px;
}
.carousel-nav-label:hover {
	color: #848484;
}
/* content */
.site {
	margin: 10px auto;
}
.site .row {
	margin-left: 0;
	padding: 0 3px;
}
.site-image {
	border: 3px solid #979797;
	position: relative;
	max-width: 280px;
}
.site-image-hover {
	background: url("../img/site-hover.png");
	background-position: center center;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
}
.site-image-hover:hover {
	opacity: 1;
}
.site-votes {
	background: #000;
	color: #fff;
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	padding: 5px;
	font-size: 14px;
}
.site-title {
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 5px auto;
}
.site-share {
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
.site-author .author {
	display: inline-block;
	font-size: 9px;
	color: #727272;
}
.site-author .author-name {
	display: inline-block;
	font-size: 11px;
}
.site-description {
	display: inline-block;
	text-align: justify;
	padding-right: 15px;
	color: #727272;
	font-size: 11px;
}
/* footer */
.footer .footer-border{
	border-top: 1px solid #e8e8e8;
	margin-bottom: 10px;
}
.footer {
	margin-top: 30px;
	margin-bottom: 50px;
}
.footer small {
	font-size: 10px;
}