@media (max-width:991px){
	.slider-caption {
		display: none;
	}
	.carousel-inner {
		text-align: center;
	}
	.carousel-inner .img-responsive {
		display: inline-block;
	}
	.wide-slider {
		height: auto !important;
		padding-bottom: 30px;
	}
	.carousel-nav.prev {
		left: 10%;
		bottom: -25px;
	}
	.carousel-nav.next {
		right: 10%;
		bottom: -25px;
	}
}